.App {
  text-align: ;
}

.taust {
  height: 100vh;
  background-color: lightblue;
  display: flex;
}

.sonum{
  border: 2px solid grey;
  border-radius: 7px;
  color: white;
  margin: 12px 30px;
  padding: 5px;
  background-color: darkgray;

}

.box{
  background-color: #424242;
}

.container{
  display: flex;
}

.kast{
  background-color: black;
  border-radius: 10px;
  margin:60px;
  padding: 5px;
  height: 500px;
  overflow: scroll;
  display: flex;
  width: 60%;
  position: fixed;
}
.sisestus{
  position: fixed;
  bottom: 19px;
  display: flex;
  flex-direction: row;
  float:left;
}
.sisestusväli{
  padding: 20px 0px;
  width: 200px;
  float:left;
  border: 2px solid white;
  border-radius: 5%;
  margin-left: 5px;
  margin-right: 2px;
  color: black;
  font-weight: bold;

}

.sisestusväli1{
  padding: 20px 0px;
  width: 640px;
  float:left;
  border: 2px solid white;
  border-radius: 5%;
  margin-right: 2px;
  color: black;
  font-weight: bold;

}
.sisestus  button{
  padding: 20px 0;
  width: 10%;
  float:initial;
  border: 2px solid white;
  border-radius: 5%;
  margin-left: 2px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}